@page
@model WebDB_Slava_.Pages.FilReq.Filter.FilterOrderModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].FGS_employer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].check)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Telefon)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Order[0].dish_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].dish_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].dish_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ID_employees)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FGS_employer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @{
                    if (item.check)
                    {
                        <p>Выполнен</p>
                    }
                    else
                    {
                        <p>Не выполнен</p>
                    }
                }
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @{ try
                    {
        <a asp-page="../Menu/Details" asp-route-id="@item.ID_dish_1" style="color: #000; text-decoration: none;">
            @Model.Menu.First(r => r.ID == item.ID_dish_1).Name_dish
        </a> }
    catch
    {
        <p>нет</p> } }
            </td>
            <td>
                @{ try
                    {
        <a asp-page="../Menu/Details" asp-route-id="@item.ID_dish_2" style="color: #000; text-decoration: none;">
            @Model.Menu.First(r => r.ID == item.ID_dish_2).Name_dish
        </a> }
    catch
    {
        <p>нет</p> } }
            </td>
            <td>
                @{ try
                    {
        <a asp-page="../Menu/Details" asp-route-id="@item.ID_dish_3" style="color: #000; text-decoration: none;">
            @Model.Menu.First(r => r.ID == item.ID_dish_3).Name_dish
        </a> }
    catch
    {
        <p>нет</p> } }
            </td>
            <td>
                @{ try
                    {
        <a asp-page="../Employees/Details" asp-route-id="@item.IDemployees" style="color: #000; text-decoration: none;">
            @Model.Employee.First(r => r.ID == item.IDemployees).FGS
        </a> }
    catch
    {
        <p>нет</p> } }
            </td>
        </tr>}
    </tbody>
</table>
