@page
@model WebDB_Slava_.Pages.Menu.DetailsModel

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Меню</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Volume_Ingredient_1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Volume_Ingredient_1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Cooking_time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Cooking_time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Name_dish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Name_dish)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Volume_Ingredient_2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Volume_Ingredient_2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Volume_Ingredient_3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Volume_Ingredient_3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Ingredient_1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Ingredient_1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Ingredient_2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Ingredient_2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Ingredient_3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Ingredient_3)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Menu.ID">Редактирование</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
