@page
@model WebDB_Slava_.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Заказы";
}

<h1>Заказы</h1>

<p>
    <a asp-page="Create">Добавить новый заказ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].FGS_employer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].check)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Cost)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Order[0].Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].dish_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].dish_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].dish_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ID_employees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.check)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FGS_employer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @{ try
                    {
        <a asp-page="../Order/Details" asp-route-id="@item.ID_dish_1" style="color: #000; text-decoration: none;">
            @Model.Order.First(r => r.ID == item.ID_dish_1).dish_1
        </a> }
    catch
    {
        <p>нет</p> } }
            </td>
            <td>
                @{ try
                    {
                        <a asp-page="../Order/Details" asp-route-id="@item.ID_dish_2" style="color: #000; text-decoration: none;">
                            @Model.Order.First(r => r.ID == item.ID_dish_2).dish_2</a> }
                    catch
                    {
                        <p>нет</p> } }
            </td>
            <td>
                @{ try
                    {
        <a asp-page="../Order/Details" asp-route-id="@item.ID_dish_3" style="color: #000; text-decoration: none;">
            @Model.Order.First(r => r.ID == item.ID_dish_3).dish_3
        </a> }
    catch
    {
        <p>нет</p> } }
            </td>
            <td>
                @{ try
                    {
        <a asp-page="../Order/Details" asp-route-id="@item.IDemployees" style="color: #000; text-decoration: none;">
            @Model.Order.First(r => r.ID == item.IDemployees).FGS_employer
        </a> }
    catch
    {
        <p>нет</p> } }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Редактирование</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробности</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
