@page
@model WebDB_Slava_.Pages.Empoyees.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Delete</h1>

<h3>Вы точно хотите удалить это?</h3>
<div>
    <h4>Работники</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FGS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FGS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Old)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Old)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Telefon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Pasport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Pasport)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employee.ID" />
        <input type="submit" value="Удаление" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
